{
  "ignore": [],
  "plugins": [
    "dev-expression"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "8.3.0"
          }
        }]
      ]
    },
    "development": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions", "safari >= 7"]
          },
          "modules": false
        }]
      ]
    }
  }
}
